autopep8==1.5.4
clang-format==9.0.0
cycler==0.10.0
dataclasses==0.8
decorator==4.4.2
flake8==3.8.4
future==0.18.2
glob2==0.7
imageio==2.9.0
importlib-metadata==3.1.0
kiwisolver==1.3.1
matplotlib==3.3.3
mccabe==0.6.1
networkx==2.5
numpy==1.19.4
opencv-contrib-python==4.2.0.34
Pillow==8.0.1
pkg-resources==0.0.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
scikit-image==0.17.2
scipy==1.5.4
six==1.15.0
tifffile==2020.9.3
toml==0.10.2
torch==1.7.0
torchvision==0.8.1
typing-extensions==3.7.4.3
zipp==3.4.0
